/* Chrome, Safari and Opera syntax */
#tv-container:-webkit-full-screen {
  width: 100%;
  height: 100%;
  background: black;
}

/* Firefox syntax */
#tv-container:-moz-full-screen {
  width: 100%;
  height: 100%;
  background: black;
}

/* IE/Edge syntax */
#tv-container:-ms-fullscreen {
  width: 100%;
  height: 100%;
  background: black;
}

/* Standard syntax */
#tv-container:fullscreen {
  width: 100%;
  height: 100%;
  background: black;
}

#tv-video {
  width: 100%;
  height: 100%;
  background:black;
  border-radius:10px;
}

#tv-video::-webkit-media-controls {
  display:none !important;
}

#tv-controls {
  position: absolute;
  height: 35px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border-radius: 5px;
  background-color: white;
}

#reaction-controls {
  position: absolute;
  bottom: 60px;
  right: 10px;
}

.reaction-btn {
  outline: none;
  border: 0;
  cursor: pointer;
  background: none;
  font-size: 35px;
  border-radius: 10px;
}

.reaction-btn:hover {
  background-color: #d1ecf1;
  font-size: 45px;
}

@media only screen and (max-width: 414px) {
  .reaction-btn {
    font-size: 12px;
  }
  .reaction-btn:hover {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .reaction-btn {
    font-size: 14px;
  }
  .reaction-btn:hover {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .reaction-btn {
    font-size: 24px;
  }
  .reaction-btn:hover {
    font-size: 30px;
  }
}

.reaction-btn:active {
  background-color: blue;
}

.reaction-btn:focus {
  outline : 0;
  border : 0;
}

#audio-recording-indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  color: red;
  font-size: 20px;
}

#mute-button {
  background-size: 25px;
  width: 25px;
  height: 25px;
  border: 0;
  outline: none;
  background-color: white;
  position: absolute;
  left: 5px;
  top: 5px;
  cursor:pointer;
}

#mute-button:hover {
  opacity: 1;
}

#volume-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 6px;
  border-radius: 5px;
  outline: none;
  background: #aaaaaa;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
  left: 35px;
  top: 15px;
}

#volume-bar:hover {
  opacity: 1;
}

#volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

#volume-bar::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

#full-screen-button {
  background-size: 25px;
  width: 25px;
  height: 25px;
  border: 0;
  outline: none;
  background-color: white;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor:pointer;
}

#full-screen-button:hover {
  opacity: 1;
}

#unmute-here {
  cursor: pointer;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#tv-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0px 0px -25px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.paused {
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}

.list-group button:not([disabled]).list-group-item {
  color: #0c5460;
  cursor: pointer;
}

.list-group-item.active {
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.list-group-item:focus {
  outline: none;
}

#tv-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0px 0px -30px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  display: none;
}

#tv-play-button:hover {
  background-color: #555555;
}

#tv-play-button-inner {
  position: relative;
  top: 25%;
  left: 30%;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #f3f3f3;
}

.icon {
  height: 20px;
}

#chatbox {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border: 1px solid darkgray;
  border-radius: 10px;
  background-color: #d1ecf1 /*#fefefa*/;
}

#chatbox-title {
  height: 15%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 15px;
  color: black;
  overflow: hidden;
}

#chatbox-replay {
  height: 70%;
  max-height: 70vh;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  background-color: white;
  overflow: scroll;
  padding: 15px;
  padding-bottom: 0;
  font-size: 14px;
}

#chatbox-replay ul {
  padding: 0;
  list-style-type: none;
}

#chatbox-replay ul li {
  padding-bottom: 5px;
}

#chatbox-replay ul li:last-child {
  padding-bottom: 0;
}

.chat-replay-username {
  color: #1e90ff;
  font-weight: bold;
  padding-right: 5px;
}

#chatbox-entry {
  height: 15%;
  border-radius: 10px;
  padding: 15px;
  padding-top: 12px;
  overflow: scroll;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chatbox-entry-container {
  width: 100%;
  height: 100%;
}

#chatbox-entry-buttons {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.md-form {
  margin-top: 0;
  margin-bottom: 0;
}

#chatbox-entry-input {
  width: 90%;
  background-color: #d1ecf1 /*#fefefa*/;
  border: none;
  border-bottom: 1px solid black;
  font-size: 14px;
}

#chatbox-entry-input:-webkit-autofill,
#chatbox-entry-input:-webkit-autofill:hover, 
#chatbox-entry-input:-webkit-autofill:focus, 
#chatbox-entry-input:-webkit-autofill:active  {
  transition: background-color 5000s;
}

#chatbox-entry-input:focus {
  box-shadow: none;
  outline: none;
}

#chatbox-entry-send {
  font-size: 18px;
  color: #d1ecf1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1e90ff;
  padding: 5px;
  padding-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
