{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/player.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>StageCast</title>
</head>

<body>
  <!-- Navigation -->
  {% include "puffer/navigation.html" %}

  <!-- Player -->
  <div class="container py-4">
    <!-- Success or error messages -->
    {% if messages %}
    <ul class="list-unstyled">
    {% for msg in messages %}
      <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
          {{msg.message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </li>
    {% endfor %}
    </ul>
    {% endif %}

    <div class="row mt-3">
      <div class="col-md-12">
        <ul class="list-unstyled" id="player-error-list"></ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 mt-3">
        <div class="embed-responsive embed-responsive-16by9">
          <div id="tv-container">
            <video id="tv-video" muted></video>
            <div id="tv-spinner"></div>
            <div id="tv-play-button"><div id="tv-play-button-inner"></div></div>
            <div id="tv-controls">
              <button type="button" id="mute-button"></button>
              <input type="range" id="volume-bar" min="0" max="1" step="0.05" value="0">
              <button type="button" id="mute-audio-button"></button>
              <button type="button" id="full-screen-button"></button>
            </div>
            <div id="header-plugin"></div>
            <div class="bg_heart"></div>
            <div class="bg_emoji"></div>
            <div><canvas id="firework-canvas"></canvas></div>
            <div id="audio-recording-indicator">⏺ Detected audio event. Recording ...</div>
            <div id="reaction-controls">
              <div class="col text-right">
                <div class="row-sm-auto">
                  <button type="button" data-sentiment="happy" class="reaction-btn">❤️</button>
                </div>
                <div class="row-sm-auto">
                  <button type="button" data-sentiment="happy" class="reaction-btn">👏</button>
                </div>
                <div class="row-sm-auto">
                  <button type="button" data-sentiment="happy" class="reaction-btn">😂</button>
                </div>
                <div class="row-sm-auto">
                  <button type="button" data-sentiment="sad" class="reaction-btn">😢</button>
                </div>
                <div class="row-sm-auto">
                  <button type="button" data-sentiment="bored" class="reaction-btn">🥱</button>
                </div>
                <div class="row-sm-auto">
                  <button type="button" data-sentiment="angry" class="reaction-btn">😡</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div id="chatbox">
          <div id="chatbox-title">Chat</div>
          <div id="chatbox-replay"><ul id="chatbox-replay-list"></ul></div>
          <div id="chatbox-entry">
            <input id="chatbox-entry-input" class="input-sm input-with-post-icon" type="text" name="chat" placeholder="Say something...">
              <span id="chatbox-entry-send" class="material-icons input-prefix">
                send
              </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert" id="unmute-audio-message">
          Audio feedback is muted by default; <u id="unmute-audio-here">unmute here</u></span>
          or use the player control bar. When unmuted, the audio is recorded and sent to server
          whenever a sound is detected. We recommend using headphones/earphones so the recording does
          not get triggered by the speaker output. 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert" id="unmute-message">
          Video is muted by default; <u id="unmute-here">unmute here</u></span>
          or use the player control bar.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="list-group d-none" id="channel-list">
    <button type="button" name="test" class="list-group-item list-group-item-action">
      Test
    </button>
  </div>

  <script src="{% static 'dist/js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dist/js/hark.bundle.js' %}"></script>
  <script src="{% static 'js/player.js' %}"></script>
  
  {% if params_json %}
  <script type="text/javascript">
    init_player("{{ params_json|escapejs }}", "{{ csrf_token }}");
  </script>
  {% endif %}

</body>

</html>